//========================================
// common settings
//========================================
.font-phpconf
  font:
    family: "phpConf"

a:active, a:hover, a:link, a:visited
  text-decoration: none

body
  background: transparent url(../images/layout/bg.png) repeat-x center 40px
  font:
    family: "Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif
    size: 12pt

.navigation
  margin: 0
  padding: 0
  li
    float: left
//========== common settings end ==========

//========================================
// header settings
//========================================
#past-editions
  background: #F5F4F6

#past-editions-content
  font-size: 0.9em
  height: 40px
  line-height: 40px
  padding-right: 1em
  text-align: right

  a:active, a:hover, a:link, a:visited
    color: #617CBE

#conference-title
  color: #70A3B7
  font:
    family: "Bauhs", sans-serif
    size: 6em

#conference-subtitle
  margin-top: -0.26em

.taiwan-letter, .conference-year
  font:
    family: "Gothic", sans-serif
    size: 0.6em

.conference-year
  margin-left: 0.2em

.taiwan-first-letter, .taiwan-letter, .title-color2
  color: #757575

.taiwan-first-letter
  margin-left: -0.79em

.taiwan-letter
  margin-left: -0.2em

#conference-date
  color: #696A7B
  text-align: right

#conference-slogan
  color: #617CBE
  font-size:  2em
  letter-spacing: 0.059em
  text-align: right
//========== header settings end ==========

//========================================
// navigation settings
//========================================
#header-navigation
  margin-top: 1.8em

  font:
    size: 0.9em
    weight: bold

  a:active, a:hover, a:link, a:visited
    color: #000

#footer-navigation
  font:
    weight: bold
  a:active, a:hover, a:link, a:visited
    color: #FFF

#registration-link
  color: #70A3B8
//========== navigation settings end ==========

//========================================
// main content settings
//========================================
#content-container
  padding: 0 1em

#content-title-container
  border-bottom: 1px solid #617CBE
  padding-left: 0.5em
  padding-bottom: 0.8em
#content-title
  color: #404361
  font:
    size: 1.6em
    weight: bold
//========== navigation settings end ==========

//========================================
// sidebar settings
//========================================
#sidebar-container
  background: url('../images/bg_sponser.png') repeat
  border: 1px solid #CCC
  +box-shadow(rgba(43, 39, 40, .4) 0 0 8px)
  color: #696A7B
  font-weight: bold
  margin: 0 auto
  padding: 2em 0
  text-align: center
#sidebar-container img
  border: #9f9f9f 1px solid
//========== sidebar settings end ==========

//========================================
// footer settings
//========================================
#footer
  background: #70A3B7
  color: #FFF
  height: 70px
  line-height: 70px

#copyright
  font-size: 0.9em
//========== footer settings end ==========
