{% extends "layout.twig" %}

{% block content %}
<div id="staff">
    <div class="staff-box">
        <span class="staff-title">總召集人</span>
        <span class="staff-name">kiang</span>
    </div>
    <div class="staff-box">
        <span class="staff-title">議程</span>
        <span class="staff-name">Rex</span>
    </div>
    <div class="staff-box">
        <span class="staff-title">銷售</span>
        <span class="staff-name">Morris</span>
    </div>
    <div class="staff-box">
        <span class="staff-title">場務</span>
        <span class="staff-name">聽風</span>
    </div>
    <div class="staff-box">
        <span class="staff-title">線路</span>
        <span class="staff-name">David</span>
    </div>
    <div class="staff-box">
        <span class="staff-title">記錄</span>
        <span class="staff-name">Ricky</span>
    </div>
    <div class="staff-box">
        <span class="staff-title">總務</span>
        <span class="staff-name">Eddie</span>
    </div>
    <div class="staff-box">
        <span class="staff-title">會計</span>
        <span class="staff-name">強哥</span>
    </div>
    <div class="staff-box">
        <span class="staff-title">出納</span>
        <span class="staff-name">RJ</span>
    </div>
    <div class="staff-box">
        <span class="staff-title">網站程式</span>
        <span class="staff-name">永來</span>
    </div>
    <div class="staff-box">
        <span class="staff-title">美術設計</span>
        <span class="staff-name">Smile</span>
    </div>
    <div class="staff-box">
        <span class="staff-title">網站主機</span>
        <span class="staff-name">John</span>
    </div>
</div>

<div id="sponsors">
    <div class="sponsor-box">
        <div class="sponsor-logo">

        </div>
        <div class="sponsor-desc">

        </div>
    </div>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
{% block life %}
{% endblock %}