{% extends "layout.twig" %}

{% block content %}
<div class="news-index">
{% for news in view.news %}
    <article>
        <header>
            <h3 class="news-date">
                <time datetime="{{ news.date|date("Y-m-d") }}" pubdate data-updated="true">{{ news.date|date("Y-m-d") }}</time>
            </h3>
            <h1 class="news-title">{{ news.title }}</h1>
        </header>

        <div class="news-content">
            {% markdown %}
                {{ news.content|raw }}
            {% endmarkdown %}
        </div>
    </article>
{% endfor %}
</div>
{% endblock %}