<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>PHP Conference in Taiwan 2012</title>
    <meta name="author" content="phpconf2012">

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
    <link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Irish+Grover:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lemon:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>

    <link href="stylesheets/style.css?{{ "now"|date("YmdHms") }}" media="screen, projection" rel="stylesheet" type="text/css">
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}

{% include "google_analytics.twig" %}
</head>

<body>

<div id="body-container">
    <header role="banner" id="header">
        <hgroup>
            <h1 id="title"><a href="./">PHPConf Taiwan 2012</a></h1>
            <h2 id="subtitle">Innovation and Application for the Future</h2>
        </hgroup>

        <nav role="navigation" id="navigation">
            <ul class="main-navigation">
                <li{% if view.pageName == "index.html" %} class="active"{% endif %}><a href="./">News</a></li>
                <li{% if view.pageName == "schedule.html" %} class="active"{% endif %}><a href="schedule.html">Schedule</a></li>
                <li{% if view.pageName == "speakers.html" %} class="active"{% endif %}><a href="speakers.html">Speaker</a></li>
                <li{% if view.pageName == "venue.html" %} class="active"{% endif %}><a href="venue.html">Venue</a></li>
                <li{% if view.pageName == "about.html" %} class="active"{% endif %}><a href="about.html">About</a></li>
            </ul>
            <div class="clr"></div>
        </nav>
    </header>

    <div id="main">
        <div id="content">
            {% block content %}
                Content of the page...
            {% endblock %}
        </div>
    </div>

    <div id="sponsor">
        Sponsor Block
    </div>

    <div id="footer">
    </div>
</div>

</body>
</html>