<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>PHP Conference in Taiwan 2012</title>
    <meta name="author" content="phpconf2012">

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Peralta' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>

    <link href="stylesheets/style.css?{{ "now"|date("YmdHms") }}" media="screen, projection" rel="stylesheet" type="text/css">
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}

{% include "google_analytics.twig" %}
</head>

<body>

<header role="banner">
    <hgroup>
        <h1 id="title"><a href="./">PHP Conference in Taiwan 2012</a></h1>
        <h2 id="subtitle">Innovation and Application for the Future</h2>
    </hgroup>
</header>

<nav role="navigation">
    <ul class="main-navigation">
        <li><a href="./">News</a></li>
        <li><a href="schedule.html">Schedule</a></li>
        <li><a href="speakers.html">Speaker</a></li>
        <li><a href="venue.html">Venue</a></li>
        <li><a href="about.html">About</a></li>
    </ul>
</nav>

<div id="main">
    <div id="content">
        {% block content %}
            Content of the page...
        {% endblock %}
    </div>
</div>

<div id="sponsor">
</div>

<div id="footer">
</div>

</body>
</html>