.speakers-index
  padding-bottom: 3em
  article
    border-bottom: 1px solid #617CBE
    padding-bottom: 1em

.speaker-title-container
  padding: 1em 0
.speaker-name
  font:
    size: 1.75em
    weight: bold
  line-height: 1.2em
.speaker-job-title
  color: #617CBE
  padding-left: 1em

.speaker-thumb
  width: 120px
  margin: 0 auto
  img
    background: #FFF
    border: 1px solid #CCC
    +box-shadow(rgba(43, 39, 40, .4) 0 0 8px)
    width: 100px
    height: 100px
    display: block
    margin: 0 auto
    padding: 7px

.socialIcons
  padding: 5px 3px
  width: 120px
  margin: 0 auto
  ul
    margin: 0
    padding: 0
  li
    float: left
    padding: 3px
    margin: 0
  img
    +opacity(0.5)
  img:hover
    +opacity(1)

.speaker-description
  line-height: 1.6em
.speaker-description-left
  color: #617CBE
  vertical-align: top
  width: 40px
.speaker-description-right
  border-left: 1px solid #617CBE
  padding-left: 0.5em
  vertical-align: top
.speaker-description-middle
  line-height: 0.8em
